body {
    margin: 0;
    padding: 0;
    background: #D9D0C0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    max-width: fit-content;
    height: 70px;
    background: #423E3B;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.logo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_logo {
    margin-left: 20px;
    margin-right: 20px;
}

#header_text {
    text-decoration: none;
    font-size: 15px;
    font-family: Cuprum;
    color:#D9D0C0;
}

.navi {
    display:flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    list-style: none;
}

.navi li{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #D9D0C0;
    justify-content: center;
    align-items: center;
}

.navi_lnk {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.navi_lnk:hover {
    text-decoration: none;
    background: #312f2c;
}

.navi li:hover {
    font-size: 30px;
}

.phone {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone_lnk {
    text-decoration: none;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #E6DCCB;
}

.phone:hover {
    background: #312f2c;
}

.phone_lnk:hover{
    font-size: 30px;
}

#phone_icon {
    width: 35px;
    height: 35px;
    background: url(/static/main/img/Phone.png);
    margin-right: 10px;
}

main {
    margin-left: 140px;
    margin-right: 140px;
}

.footer {
    width: 100%;
    height: 140px;
    background: #423E3B;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    font-style: italic;
}

.footer a{
    margin-top: 5px;
    text-decoration: none;
    color: #D9D0C0;
}

.features {
    font-size: 23px;
}
