body {
    margin: 0;
    padding: 0;
    background: #D9D0C0;
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: 70px;
    background: #423E3B;
    justify-content:center;
}

.main-wrapper {
    margin-top: 70px;
}
  .menu-button-container {
    display: none;
    height: 100%;
    width: 100px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 5px;
    width: 70px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -20px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 20px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-device-width: 768px) {
    
  }

.header-wrapper {
    display: flex;
    width: 1160px;
    height: 100%;
    align-items: center;
    justify-content: left;

}

.logo_wrap {
    float: left;
    margin-right: 20px;
}


.navi {
    display:flex;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    list-style-type: none;
    list-style: none;
}

.navi li{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #D9D0C0;
    justify-content: center;
    align-items: center;
}

.navi_lnk {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.navi_lnk:hover {
    font-size: 25px;
    text-decoration: none;
    background: #312f2c;
}

.phone {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.phone_lnk {
    text-decoration: none;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #D9D0C0;
}

.phone:hover {
    background: #312f2c;
}

#phone_icon {
    width: 35px;
    height: 35px;
    background: url(/static/main/img/Phone.png);
    margin-right: 10px;
}

.footer {
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background: #423E3B;
    justify-content: center;
}

.footer-wrapper {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

.footer-block {
    margin-left: 30px;
}

.footer-block-straight {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-element {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #D9D0C0;
}
.footer-element-straight {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #676360;
}
.footer-element-straight a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    color: #9D8A67;
    text-decoration: none;
}

.footer-element img {
    width: 10px;
    height: 10px;
}

.footer-element a{
    text-decoration: none;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #9D8A67;
}

.main-wrapper {
    width: 100%;
}

.splash {
    background: url(/static/main/img/splash.png) no-repeat;
    background-size: cover;
    height: 350px;
    min-height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#splash-small {
    background: url(/static/main/img/splash-small.png) no-repeat;
    background-size: cover;
    height: 350px;
}

#index-splash {
    height: 30vw;
}

.splash-fon {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}
.splash-text {
    max-width: 1160px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #423E3B;
}

.main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.index-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #423E3B;
    justify-content: center;
    align-items: center;
    width: 1160px;
}

.index-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.subsplash {
    display: flex;
    flex-direction: row;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 53px;
    color: #423E3B;
    justify-content: space-around;
    align-items: center;
    text-align:left;
}

.subsplash h3 {
    font-size: 25px;
    padding-left: 20px;
    margin: 0;
}

.departments-wrapper {
    width: 1160px;
}

.department-card {
    display: flex;
    width: 100%;
    height: 588px;
    background-color: #B2AB9E;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #423E3B;
}

.department-card:not(:first-child){
    margin-top: 20px;
}

.department-card-img-wrapper img {
    height: 100%;
}

.department-card-text-wrapper {
 padding-left: 15px;
 padding-right: 10px;
 height: 100%;
}

.department-card-text-wrapper p {
    margin: 0;
    padding: 0;
}
.department-card-text-wrapper h3 {
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 0;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #423E3B;     
}

.dropdown-button {
    width: 100%;
    height: 100px;
    display: none;
    background-color: #423E3B;
    color: #D9D0C0;
    padding: 10px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #D9D0C0;
    text-decoration: none;
    height: 100%;
    line-height: 70px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.dropdown {
    width: 100%;
    position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #f1f1f1;
    font-size: 40px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropdown-button {
    background-color: #383533;
  }

.catalog-navigation{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #423E3B;
    margin-bottom: 20px;
}

.catalog-navigation-wrapper {
    width: 1160px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.catalog-navigation-link {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #D9D0C0;
    text-decoration: none;
    height: 100%;
    line-height: 70px;
    text-align: center;
}

.catalog-navigation-link:hover {
    font-size: 25px;
    text-decoration: none;
    background: #312f2c;
}

.catalog-wrapper {
    width: 1160px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    margin: auto;
}

.flip-card {
    background-color: transparent;
    width: 560px;
    height:560px;
    perspective: 1000px;
    margin-bottom: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgba(179, 171, 158, 0.5);
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-entity-name {
    position: absolute; 
    top: 0; 
    left: 0; 
    width:100%;
    margin: 0; 
    height: 110px; 
    text-align: left;
    line-height: 110px;
    font-family: Lora; 
    font-style: normal; 
    padding-left: 15px;
    font-size: 30px; 
    color: #423E3B; 
    background: linear-gradient(90deg, #CCC4B4 80%, rgba(204, 196, 180, 0) 100%);
  }

  .flip-card-entity-price{
    position: absolute; 
    bottom: 0;
    right: 0; 
    font-family: Lora; 
    height: 110px;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 110px;
    color: #423E3B; 
    margin: 0; 
    background: linear-gradient(270deg, #CCC4B4 0%, rgba(204, 196, 180, 0) 100%);
  }

  .flip-card-description {
    font-family: Lora; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 18px; 
    line-height: 22px; 
    text-align: left; 
    padding-left: 10px;
    color: #000000;
  }

  .contacts-wrapper {
      width: 1160px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  }

  .contact-card {
      width: 570px;
      margin-bottom: 20px;
      background-color: rgba(179, 171, 158, 0.5);
      justify-content: left;
    text-align: left; 
  }

  .info-card {
        width: 100%;
        margin-bottom: 20px;
        background-color: rgba(179, 171, 158, 0.5);
    justify-content: left;
    text-align: left; 
  }

  .contact-card h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
  }

  .info-card h1 {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
  }

  .contact-card p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
    text-decoration: none;
  }

  .contact-card a {
    font-family: Lora;
    font-style: normal;
    font-weight:bold;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
  }

  .info-card p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
  }

  info-card a {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #423E3B;
  }

  .map {
      width: 100%;
      background: rgba(179, 171, 158, 0.5);
  }

  .map p{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;    
    color: #423E3B;
    padding-left: 20px;
  }


  @media (max-device-width: 768px) {
      .phone {
          display: none;
      }

      .header {
          height: 100px;
      }

      .navi_lnk li {
          font-size: 45px;
      }

    .footer-wrapper {
        display: block;
        align-items: center;
    }

    .footer-element {
        text-align: center;
        font-size: 25px;
    }

    .footer-element a {
        font-size: 25px;
    }

    .footer-element-straight {
        font-size: 25px;
    }

    .footer-element-straight a {
        font-size: 25px;
    }

    .index-wrapper {
        width: 100%;
    }

    .subsplash {
        display: block;
    }

    .subsplash-img-container img {
        width: 100%;
    }
    
    .main-layout {
        display: block;
    }

    .departments-wrapper {
        width: 100%;
    }

    .department-card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 95%;
    }

    .department-card-text-wrapper {
        font-size: 45px;
        line-height:45px;
        padding-bottom: 20px;
    }

    .department-card-text-wrapper h3 {
        font-size: 55px;
        line-height: 55px;
    }

    .department-card-img-wrapper {
        padding-top: 15px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .department-card-img-wrapper img {
        margin: 0 auto;
    }

    .contacts-wrapper {
        display: block;
        width: 100%;
    }

    .contact-card {
        width: 100%;  
        padding-left: 10px; 
    }

    .info-card {
        padding-left: 10px;
    }

    .map {
        width: 100%;
    }

    .catalog-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catalog-navigation-wrapper {
        flex-wrap:wrap;
    }

    .catalog-navigation {
        height: 100%;
    }

    .catalog-navigation-link {
        width: auto;
        font-size: 45px;
    }

    .flip-card {
        height: 750px;
        width: 750px;
    }

    .flip-card-description {
        font-size: 26px;
    }

    .catalog-navigation {
        display: none;
    }

    .dropdown-button{
        display: block;
    }

    .navi {
        display: none;
    }
    .menu-button-container {
        display: flex;
  
      }
      .header-wrapper {
          display: block;
      }
      .navi {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #312f2c;
      }
      #menu-toggle ~ .navi li {
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
  
      #menu-toggle:checked ~ .navi {
          display: block;
      }
  
      #menu-toggle:checked ~ .navi li {
          width: 100%;
          background: #312f2c;
        border: 1px solid #333;
        height: 2.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .navi > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
  
      .logo_wrap {
          margin-left: 10px;
          width: 100px;
          height: 100px;
      }
  
      #header_logo {
          width: 100%;
          height: 100%;
      }
  
      #header_logo img {
          padding-top: 5px;
          width: 90%;
          height: 90%;
      }
}
