{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/logo.png' %}" alt="Лого">
        <span class="logo">Довск</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li>Главная</li></a>
            <a href="{% url 'news' %}"><li>Новости</li></a>
            <a href="{% url 'catalog' %}"><li>Каталог</li></a>
            <a href="{% url 'contacts' %}"><li>Контакты</li></a>

        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>