{% extends 'main/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<div class="splash" id="splash-small">
  <div class="splash-fon">
      <div class="splash-text">
          <h1>Каталог продукции</h1>
      </div>
  </div>
</div>
<div class="catalog-navigation">
  <div class="catalog-navigation-wrapper">
    <a class="catalog-navigation-link" href="{% url 'catalog' %}">Все</a>
    {% for category in categories %}
    <a class="catalog-navigation-link" href="/catalog/{{ category.pk }}">{{ category.name }}</a>
      {% endfor %}
  </div>
</div>

<div class="dropdown">
  <button class="dropdown-button">Категории</button>
    <div class="dropdown-content">
      <a class="catalog-navigation-link" href="{% url 'catalog' %}">Все</a>
      {% for category in categories %}
      <a class="catalog-navigation-link" href="/catalog/{{ category.pk }}">{{ category.name }}</a>
        {% endfor %}
    </div>      
</div>

    
<div class="main-layout">
  <div class="catalog-wrapper">
    {% if catalog %}
        {% for el in catalog %}
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h2 class="flip-card-entity-name">{{ el.category }} "{{ el.name }}"</h2>
                    <img src="{{ MEDIA_URL }}{{ el.image.url }}" alt="" style="width: 100%;height: 100%;">
                  </div>
                  <div class="flip-card-back">
                    <p class="flip-card-description">{{ el.description }}</p>
                  </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
           <p>У вас пока нет товаров</p>
    {% endif %}
  </div>
    
</div>
    
{% endblock %}