{% extends 'main/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h2>Каталог товаров!</h2>

    {% for category in categories %}
    <a href= "/catalog/{{ category.pk }}">{{ category.name }}</a>
    {% endfor %}

    {% if catalog %}
        {% for el in catalog %}
            <div>
                <h3>{{ el.name }}</h3>
                <img src="{{ MEDIA_URL }}{{ el.image.url }}" alt="">
                <p>{{ el.category }}</p>
            </div>
        {% endfor %}
    {% else %}
           <p>У вас пока нет товаров</p>
    {% endif %}
{% endblock %}