{% extends 'main/base.html' %}

{% block title %}{% filter upper %}{{ title }}{% endfilter %}{% endblock %}

{% block content %}
<div class="splash" id="splash-small">
    <div class="splash-fon">
        <div class="splash-text">
            <h1>{{ title }}</h1>
        </div>
    </div>
</div>
<div class="main-layout">
    <div class="departments-wrapper">
        <div class="department-card">
            <div class="department-card-img-wrapper">
                <img src="/static/main/img/department1.png">
            </div>
            <div class="department-card-text-wrapper">
                <h3>Отдел селекции, семеноводства и технологии производства зерновых, зернобобовых и кормовых культур</h3>
                <p><b>Заведующий</b> Пилипенко Елена Васильевна</p>
                <p><b>Телефон</b></p>
                <p></p>
                <p>Деятельность отдела, в области научных исследований, направлена на:</p>
                <ul>
                    <li>создание высокопродуктивных сортов озимой пшеницы, полевого, посевного гороха, проса; </li>
                    <li>совершенствование систем земледелия и кормов с учетом почвенно-климатических особенностей, обеспечивающих рациональное использование энергетических ресурсов и охрану окружающей среды; </li>
                </ul>  
                <p>Отдел занимается первичным семеноводством и размножением оригинальных и элитных семян, включающим 19 культур и 30 районированных и перспективных высокоурожайных сортов. </p>  
                <p>Cписочная численность работающих отдела по состоянию на 1 января 2022 года составляет 15 человек; занятых в выполнении научных исследований и разработок – 5 человек.</p>
            </div>
        </div>
        <div class="department-card">
            <div class="department-card-img-wrapper">
                <img src="/static/main/img/department2.png">
            </div>
            <div class="department-card-text-wrapper">
                <h3>Лаборатория кормовых культур</h3>
                <p><b>Заведующий</b> Лесько Виктор Адамович
                </p>
                <p><b>Телефон</b>></p>
                <p></p>
                <p>Деятельность лаборатории, в области научных исследований, направлена на:</p>
                <ul>
                    <li>создание нетрадиционных кормовых культур, многолетних и однолетних злаковых и бобовых трав;</li>
                    <li>совершенствование систем земледелия;</li>
                    <li>отбор и оценка лучших по продуктивности морфотипов злаковых трав, характеризующихся высокими темпами роста и стабильной семенной продуктивностью.</li>
                </ul>  
                <p>Кроме получения семян отдел занимается выращиванием кукурузы на зеленую массу, с последующей закладкой ее на силос.</p>  
                <p>После уборки многолетних и однолетних трав остается соломка, которую сушат и закатывают в рулоны. </p>
            </div>
        </div>
        <div class="department-card">
            <div class="department-card-img-wrapper">
                <img src="/static/main/img/department3.png">
            </div>
            <div class="department-card-text-wrapper">
                <h3>Отдел картофелеводства</h3>
                <p><b>Заведующий</b> Сидоренко Тамара Николаевна</p>
                <p><b>Телефон</b> +375 2339 771 87</p>
                <p></p>
                <p>Область научных исследований отдела картофелеводства:</p>
                <ul>
                    <li>размножение в микроклональной лаборатории пробирочных растений картофеля;</li>
                    <li>производство оригинальных и элитных семян картофеля;</li>
                    <li>оказание консультативных и технологических услуг по посадке питомников картофеля и уходу за ними;</li>
                    <li>проведение экологического сортоиспытания, участие во внедрении и распространении новых перспективных высокоурожайных и устойчивых к болезням сортов картофеля в области;</li>
                </ul>  
                <p>В год в лаборатории микроклонального размножения выращивается около 95,0 тыс. пробирочных растений картофеля, получено 257,0 тыс. клубней первого клубневого поколения в тепличных условиях.</p>  
                <p>Численность работающих отдела составляет 22 человека, в том числе 6 научных сотрудников. Из исследователей 1 работник (зав. отделом) имеет степень кандидата сельскохозяйственных наук.</p>
            </div>
        </div>
        <div class="department-card">
            <div class="department-card-img-wrapper">
                <img src="/static/main/img/department4.png">
            </div>
            <div class="department-card-text-wrapper">
                <h3>Лаборатория по плодоводству</h3>
                <p><b>Заведующий</b> Левзикова Елена Генриховна</p>
                <p><b>Телефон</b></p>
                <p></p>
                <p>Деятельность лаборатории направлена на производство и реализацию:</p>
                <ul>
                    <li>саженцев плодово-ягодных культур;</li>
                    <li>клоновых подвоев плодовых культур;</li>
                    <li>черенков плодовых культур;</li>
                    <li>усов земляники садовой;</li>
                    <li>овощной продукции.</li>
                </ul>  
            </div>
        </div>
    </div>
    
    
</div>
    
{% endblock %}
