{% extends 'main/base.html' %}

{% block title %}{% filter upper %}{{ title }}{% endfilter %}{% endblock %}

{% block content %}
    <div class="features">
        <div class="splash">
            <div class="splash-fon"></div>
        </div>
        {% filter upper %}<h2>Гомельская областная сельскохозяйственная опытная станция РУП НАН Беларуси</h2>{% endfilter %}
        <p>
            Количество научных сотрудников 17.
            <p>Основными направлениями научной деятельности станции являются:</p>
                <ul>
                    <li>производство оригинальных и элитных семян районированных и перспективных сортов сельскохозяйственных культур;</li>
                    <li>выращивание и размножение на основе биотехнологии высококачественного оздоровленного материала районированных и перспективных сортов картофеля, совершенствование адаптивных технологий его производства;</li>
                    <li>акладка высокопродуктивных тестированных и оздоровленных маточных насаждений плодово-ягодных культур с целью получения посадочного материала для садов интенсивного типа в условиях Гомельской области;</li>
                    <li>организация освоения и широкая пропаганда научных достижений в сельскохозяйственном производстве региона с целью повышения эффективности отрасли растениеводства, проведение учебы кадров;</li>
                    <li>осуществление в установленном порядке деятельности по получению прибыли.</li>
                </ul>
            <p>Опытная станция оказывает содействие хозяйствам по составлению бизнес-планов, расчете потребности в минеральных удобрениях и средствах защиты растений, подготовке семенного материала, разработке структуры посевных площадей, посеве нетрадиционных и крестоцветных культур, многолетних злаковых трав.</p>

        </p>
    </div>

{% endblock %}
