{% extends 'main/base.html' %}

{% block title %}{% filter upper %}{{ title }}{% endfilter %}{% endblock %}

{% block content %}
        <div class="splash" id="index-splash">
            <div class="splash-fon">
                <div class="splash-text">
                    Республиканское унитарное предприятие "Гомельская областная сельскохозяйственная опытная станция" Национальной академии наук Беларуси
                </div>
            </div>
        </div>
        <div class="main-layout">
            <div class="index-wrapper">
                <div class="subsplash">
                    <div class="subsplash-img-container">
                        <img src="/static/main/img/image 1.png" alt="dovsk-photo">
                    </div>
                    <div><h3>Республиканское унитарное предприятие "Гомельская областная сельскохозяйственная опытная станция" Национальной академии наук Беларуси</h3></div>
                </div>
                
                <div class="index-text">
                    <p>Основными направлениями научной деятельности станции являются:</p>
                    <ul>
                        <li>создание и размножение высококачественного материала новых высокопродуктивных сортов зерновых, зернобобовых, картофеля, многолетних злаковых и бобовых трав, крестоцветных;</li>
                        <li>выращивание и реализация саженцев плодово-ягодных культур;</li>
                        <li>выращивание и реализация продукции плодоводства и овощеводства;</li>
                        <li>совершенствование систем земледелия с учётом почвенно-климатических особенностей, обеспечивающих рациональное использование энергетических ресурсов и охрану окружающей среды;</li>
                        <li>производство оригинальных и элитных семян районированных и перспективных сортов сельскохозяйственных культур;</li>
                        <li>выращивание и размножение на основе биотехнологии высококачественного оздоровленного материала районированных и перспективных сортов картофеля, совершенствование адаптивных технологий его производства;</li>
                        <li>акладка высокопродуктивных тестированных и оздоровленных маточных насаждений плодово-ягодных культур с целью получения посадочного материала для садов интенсивного типа в условиях Гомельской области;</li>
                        <li>организация освоения и широкая пропаганда научных достижений в сельскохозяйственном производстве региона с целью повышения эффективности отрасли растениеводства, проведение учебы кадров;</li>
                        <li>осуществление в установленном порядке деятельности по получению прибыли.</li>
                    </ul>
        
                    <p>Гомельская государственная областная сельскохозяйственная опытная станция создана в соответствии с постановлением ЦК КПСС и Совета Министров СССР от 14 февраля 1956 года № 253, и включена в состав Академии аграрных наук Республики Беларусь постановлением Совета Министров Республики Беларусь от 9 января 1992 года № 9. Во исполнение пункта 9 Декрета Президента Республики Беларусь от 5 марта 2002 года № 7 включена в состав Национальной академии наук Беларуси, переименована в Республиканское унитарное предприятие "Гомельская областная сельскохозяйственная опытная станция" Национальной академии наук Беларуси (далее - Предприятие). Предприятие прошло государственную регистрацию и зарегистрировано в Едином государственном регистре юридических лиц и индивидуальных предпринимателей под № 400042777 решением Гомельского областного исполнительного комитета от 19.08.2003г. № 555.</p>
                    <p>Предприятие является государственным юридическим лицом, находится в ведении Национальной Академии наук Беларуси (далее – Академия наук), являющейся его учредителем. Предприятие входит в состав Отделения аграрных наук.</p>
                </div>
            </div>
        </div>
        
{% endblock %}
