body {
    background: lightslategrey;
}

aside {
    float: left;
    background: #4d4d4d;
    width: 17%;
    padding: 2%;
    height: 100vh;
    color: azure;
    border-right: 5px solid black;
}

aside img {
    width: 100px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 25px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}

main .features {
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main ul li, p, p {
    margin-left: 15px;
    text-align: left;
}